@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  }

  body {
    @apply min-h-screen bg-gray-50;
  }
}
